build   --toolchain_resolution_debug
#build   --incompatible_enable_cc_toolchain_resolution
build:compiler_config --crosstool_top=//toolchains:compiler_suite
build:compiler_config --cpu=ubuntu_gcc
build:compiler_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
